<section>
  <h3>All cities</h3>
  <div *ngIf="forecasts.length > 0">
    <app-card
      *ngFor="let forecast of forecasts"
      [weather]="forecast"
      class="card-container"
    ></app-card>
    <br />
    <br />
    <div class="pagination">
      <a routerLinkActive="active" routerLink="/allforecasts/2023-03-04">Today</a>
      <a routerLinkActive="active" routerLink="/allforecasts/2023-03-05">Tomorrow</a>
      <a routerLinkActive="active"  routerLink="/allforecasts/2023-03-06">2023-03-06</a>
    </div>
  </div>
  <div *ngIf="forecasts.length == 0">
    <p>Loading{{loads}}</p>
  </div>
</section>
