
<div *ngIf="weather != null" class="card" (click)="goToCity(weather.city)">
  <div class="icon">
    <fa-icon *ngIf="weatherIcon!==null" [icon]="weatherIcon"></fa-icon>
  </div>
  <div *ngIf="weather != null">
    <p class="title">{{ weather.city }}</p>
    <h2> <fa-icon *ngIf="temperatureIcon!==null" [icon]="temperatureIcon" ></fa-icon> {{ weather.temperatureC }} &#176; C</h2>
    <p class="title">Rain chance: {{ weather.rainChance }}</p>
  </div>
  <div *ngIf="weather != null">
    <p class="title">{{ weather.summary }}</p>
    <p>Sunrise: {{ weather.sunrise }} </p>
    <p class="title">Sunset: {{ weather.sunset }}</p>
    <p class="title">{{ weather.date }}</p>
  </div>
</div>
